{% extends 'base.html.twig' %}

{% block title %}Compagnon{% endblock %}

{% block body %}
<main>
    <section class="container-main">
        <h1 class="name-compagnon">Rox</h1>

        <div class="informations">
            <div class="hero-infos">
                <p class="texte-presentation">Du fait de leur âge ou de certaines caractéristiques physiques ou
                    physiologiques, ils n’attirent malheureusement pas l’attention des adoptants… Pourtant, ils
                    méritent eux aussi d’être adoptés !</p>
                <img src="img/fond.jpg" alt="" class="photo-compagnon">
                <div class="fiche-identite">
                    <h2 class="title-fiche-identite">Fiche identité</h2>
                    <p class="espece">Espece: Chien</p>
                    <p class="race">Race: Beauceron</p>
                    <p class="age">Age: 2ans</p>
                    <p class="lieu-adoption">Lieu: Spa Tours</p>
                    <p class="sexe-compagnon">Sexe: Male</p>
                    <p class="pelage">Pelage: Ras</p>
                    <p class="cas-specifique">Cas spécifique: </p>
                </div>

            </div>

            <div class="me-rencontrer">
                <h2 class="title-me-rencontrer">Me rencontrer</h2>
                <p class="ou-me-rencontrer">Beauceron In Need
                    <br>
                    Siège social - 6 rue du docteur roux
                    <br>
                    78200 Mantes la Jolie
                </p>
            </div>

            <div class="particularite">
                <h2 class="title-particularite">Particularité</h2>
                <p class="particularite">Besoin de courir<br>Ne s’entend pas avec les chats<br>Ne s’entend pas avec
                    les chats<br>Besoin de courir</p>
            </div>

            <div class="qui-sui-je">
                <h2 class="title-qui-suis-je">Qui suis-je?</h2>
                <p class="qui-sui-je">
                    IGOR est un magnifique Beauceron de 8 ans que nous avons pris en charge car il ne supportait pas la
                    vie en appartement suite à un déménagement .
                    Il est actuellement en famille d’accueil près de Poitiers (dépt 86) .
                    C’est un chien propre et éduqué qui a besoin d’une vie en campagne avec terrain clos de préférence.
                    Une congénère femelle serait un plus .
                    <br>
                    Par contre, il ne s’entend pas avec ses congénères mâles, ni avec les chats, ni avec les volailles
                    ou moutons.
                    <br>
                    Igor est un chien très doux, très gentil jamais agressif (sauf avec la voiture du facteur ...).
                    Il recherche la compagnie des gens et demande beaucoup d'attentions de leur part.
                    <br>
                    IGOR attend une famille sympa, si vous pensez être celle-là, n’hésitez pas à nous contacter en nous
                    indiquant votre adresse mail et votre téléphone.
                    <br>
                    IGOR Né le 17/05/2013<br>
                    Identifiée par puce électronique n° 250269802188620<br>
                    Stérilisé et Vaccins à jour<br>
                    Prévoir frais d’adoption (adoption sous contrat d'Association Beauceron In Need<br>
                </p>
            </div>

        </div>
    </section>
</main>
{% endblock %}