@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CEEBE9;
  --color-secondary: #73C9C2;
  --color-third: #171717;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.font-caveat {
  font-family: var(--font-caveat), cursive;
}

.font-handlee {
  font-family: var(--font-handlee), cursive;
}

.text-small {
  font-size: 14px;
}

.text-base {
  font-size: 16px;
}

.text-large {
  font-size: 20px;
}

.text-xl {
  font-size: 24px;
}

.text-2xl {
  font-size: 32px;
}
