{% extends 'base.html.twig' %}



{% block body %}
<main>
    <section class="hero">
        <div class="container-hero">
            <div class="box-recherche">
                <div class="bouton-type-recherche">
                    <a href="#">Rechercher une association</a>
                    <a href="#">Rechercher un animal</a>
                </div>
                <div class="bouton-deroulant-recherche">
                    <a href="" class="recherche-deroulante">Race</a>
                    <a href="" class="recherche-deroulante">Gabarit</a>
                    <a href="" class="recherche-deroulante">Age</a>
                    <a href="" class="recherche-deroulante">Lieu d'adoption</a>
                    <a href="" class="recherche-deroulante">Espece</a>
                    <a href="" class="recherche-deroulante">Sexe</a>
                    <a href="" class="recherche-deroulante">Pelage</a>
                    <a href="" class="recherche-deroulante">Cas spécifique</a>
                </div>
                <a href="#" class="bouton-trouver">Trouver un nouveau compagnon</a>
            </div>
        </div>
    </section>

    <div class="container-card">
        <section class="chien-honneur">

            <h2>Chien à l‘honneur :</h2>

            <section class="splide" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </section>
    </div>
</main>
{% endblock %}
