{% extends 'base.html.twig' %}



{% block body %}
<main>
    <section class="hero">
        <div class="container-hero">
            <div class="box-recherche">
                <div class="bouton-type-recherche">
                    <a href="#">Rechercher une association</a>
                    <button href="#">Rechercher un animal</button>
                </div>
                {% include './search/index.html.twig' %}
                <a href="#" class="bouton-trouver">Trouver un nouveau compagnon</a>
            </div>
        </div>
    </section>

    <div class="container-card">
        <section class="chiens-honneur">

            <h2>Chiens à l‘honneur :</h2>

            <section class="splide" aria-label="Slider chien">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </section>

        <section class="chats-honneur">

            <h2>Chats à l‘honneur :</h2>

            <section class="splide" aria-label="Slider chat">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Tigrou</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Tigrou</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Tigrou</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Tigrou</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Tigrou</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Tigrou</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </section>

        <section class="autres-honneur">

            <h2>Autres animaux à l'honneur:</h2>

            <section class="splide" aria-label="Splide autre animaux">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="info">
                                <img src="img/fond.jpg" alt="">
                                <p class="name">Rox</p>
                                <p class="sexe">♂</p>
                                <p class="lieu">Spa de luynes</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </section>

    </div>
</main>
{% endblock %}
