.select-item {
    &::before {
        content: url('/assets/icons/patte.svg');
        margin-right: 5px;
        visibility: hidden;
    }
}
.isSelected {
    &::before {
        visibility: visible;
    }
}
