
.select-item {

    &::before{
        content: url("/patte.svg");
        margin-right: 5px;
        visibility: hidden ;
    }     
} 
.isSelected{
    &::before{
        visibility: visible ;
    }

}  

