ul {
    a {
        position: relative;
        &:hover, &:focus{
            &::before{
                content: url("/patte.svg");
                position: absolute;
                left: -20px;
            }
        }
    }
}