{% block content %}
	<div class="bouton-deroulant-recherche">
		<a href="" class="recherche-deroulante">Race</a>
		<a href="" class="recherche-deroulante">Gabarit</a>
		<a href="" class="recherche-deroulante">Age</a>
		<a href="" class="recherche-deroulante">Lieu d'adoption</a>
		<a href="" class="recherche-deroulante">Espece</a>
		<a href="" class="recherche-deroulante">Sexe</a>
		<a href="" class="recherche-deroulante">Pelage</a>
		<a href="" class="recherche-deroulante">Cas spécifique</a>
	</div>
{% endblock %}
